/*This is main stylesheet*::after
/*colour scheme*::after
/*light purple #A3A3FF
/*purple #8060EB
/*dark purple #8E2BFF
/*dark pink #B732F0
/*sky #A7ECF0
/*grey #999999
/*white #ffffff
/*black #000000*/

h2{
  color: #000000;
}
h1{
  color: #000000;
}
.bg-light-purple{
background-color: #A3A3FF;
}
.sky{
  background-color: #A7ECF0;
}
nav{
  background-color: #8E2BFF;
  border: 1px solid #000000;
  color: #ffffff;
  display: block;
  overflow: hidden;
  width: 100%;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
}
nav ul li a{
  color: #ffffff;
  display: block;
  line-height: 4px;
  text-decoration: none;
  padding: 20px;
}
nav ul li:hover{
  background-color: #000000;
}
nav ul li:hover a{
  color: #A7ECF0;
}
footer{
  background-color: #999999;
  color: #ffffff;
  text-align: center;
  padding: 3px;
}