/*This is main stylesheet*::after
/*colour scheme*::after
/*light purple #A3A3FF
/*purple #8060EB
/*dark purple #8E2BFF
/*dark pink #B732F0
/*sky #A7ECF0
/*grey #999999
/*white #ffffff
/*black #000000*/

h2{
  color: #fafafa;
}
h1{
  color: #fafafa;
}
p{
  color:  #000000;
}
.bg-light-purple{
background-color: #4b4bc3;
  padding: 50px;
}
.sky{
  background-color: #2ce3ed;
    padding: 50px;
}
nav{
  background-color: #1e4f0d;
  border: 1px solid #000000;
  color: #ffffff;
  display: block;
  overflow: hidden;
  width: 100%;
  position: fixed;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    color: #ffffff;
}
nav ul li a{
  color: #ffffff;
  display: block;
  line-height: 4px;
  text-decoration: none;
  padding: 20px;
}
nav ul li:hover{
  background-color: #000000;
}
nav ul li:hover a{
  color: #2ce3ed;
}
footer{
  background-color: #696363;
  color: #ffffff;
  text-align: center;
  padding: 3px;
}

/*****this is style for tablet******/
@media screen and (max-width: 992px){
h2{
  color: #fafafa;
}
h1{
  color: #fafafa;
}
p{
  color:  #000000;
}
.bg-light-purple{
background-color: #5f5fb4;
  padding: 50px;
}
.sky{
  background-color: #A7ECF0;
    padding: 50px;
}
nav{
  background-color:#238b2a;
  border: 1px solid #000000;
  color: #ffffff;
  display: block;
  overflow: hidden;
  width: 100%;
  position: fixed;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
}
nav ul li a{
  color: #ffffff;
  display: block;
  line-height: 4px;
  text-decoration: none;
  padding: 20px;
}
nav ul li:hover{
  background-color: #000000;
}
nav ul li:hover a{
  color: #92cfd3;
}
footer{
  background-color: #928b8b;
  color: #ffffff;
  text-align: center;
  padding: 3px;
}

}

/*****this is style for phone******/
@media screen and (max-width: 600px){
h2{
  color: #fafafa;
}
h1{
  color: #fafafa;
}
p{
  color:  #000000;
}
.bg-light-purple{
background-color: #8787d9;
  padding: 50px;
}
.sky{
  background-color: #bde9eb;
    padding: 50px;
}
nav{
  background-color:#36c43f;
  border: 1px solid #000000;
  color: #ffffff;
  display: block;
  overflow: hidden;
  width: 100%;
  position: fixed;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
}
nav ul li a{
  color: #ffffff;
  display: block;
  line-height: 4px;
  text-decoration: none;
  padding: 20px;
}
nav ul li:hover{
  background-color: #000000;
}
nav ul li:hover a{
  color: #bde9eb;
}
footer{
  background-color: #b0abab;
  color: #ffffff;
  text-align: center;
  padding: 3px;
}

}

}